<div class="container-fluid pt-2">
  <div class="col-sm-8 mt-5 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 px-0">
    <div class="card">
      <ul class="list-group list-group-flush" *ngIf="auth.user | async as user; else showLogin">
        <li class="list-group-item text-center"><img [src]="user.photoURL" class="rounded-circle shadow-sm"></li>
        <li class="list-group-item text-center"><h1 class="m-0 p-0 text-center text-capitalize">{{ user.displayName }}</h1></li>
        <li *ngIf="user.email" class="list-group-item text-center"><h4 class="m-0 p-0 text-center text-lowercase"><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;{{user.email}}</h4></li>
        <li *ngIf="user.phoneNumber" class="list-group-item text-center"><h4 class="m-0 p-0 text-center text-capitalize"><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;{{user.phoneNumber}}</h4></li>
        <li class="list-group-item text-center">
          <button class="btn-danger btn" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--<div *ngIf="auth.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>-->
<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
</ng-template>
