<div class="d-flex justify-content-center align-items-center w-100 h-100 flex-column">
  <img src="../../../assets/icons/icon-128x128.png" alt="app-logo">
  <h2 class="m-0 p-0 text-dark">Welcome to</h2>
  <h1 class="m-0 p-0 text-danger font-weight-bold mb-5">Monthly Money Manager</h1>
  <button mat-raised-button color="warn" (click)="login()">
    <span class="align-items-center d-flex justify-content-center">
      <i class="fa fa-google mr-2" style="font-size: 24px;"></i>
      Login with GOOGLE
    </span>
  </button>
</div>
