<ul
  [exclude]="'#app-side-menu-button'"
  (clickOutside)="onClickedOutside($event)"
  class="list-group bg-white rounded-0 shadow"
  style="overflow-y: auto; overflow-x: hidden"
>
  <li class="list-group-item rounded-0">Manage Fixed Expenses</li>
  <li class="list-group-item rounded-0">Manage Fixed Income</li>
  <li class="list-group-item rounded-0">Manage Credit Cards</li>
  <li class="list-group-item rounded-0">Manage Loans</li>
  <li class="list-group-item rounded-0">Manage Chitfunds</li>
  <li class="list-group-item rounded-0">Manage insurances</li>
  <li class="list-group-item rounded-0">Manage Bank Accounts</li>
  <li class="list-group-item rounded-0">Manage Mutual Funds</li>
  <li class="list-group-item rounded-0">Manage shares</li>
  <li class="list-group-item rounded-0">Manage Tax Saving Sections</li>
</ul>


<!-- https://www.mymoneycoach.ca/blog/what-are-fixed-savings-variable-costs-expenses-and-learn-to-budget-money.html -->
